<template lang="pug">
    v-card
        v-card-title
            h3 List of donors profiled
        v-divider
        v-card-text
            v-data-table(
            :items="donors"
            :headers="headers"
            )
                template(slot="items" slot-scope="props")
                    td {{ props.item.name }}
                    td {{ props.item.age }}
                    td {{ props.item.bloodtype }}
                    td {{ props.item.contact }}
                    td {{ props.item.street }}, {{ props.item.barangay }}, {{ props.item.municipality }}
</template>

<script>
    import {db} from "../main";
    import {mapGetters} from 'vuex'

    export default {
        name: "donor-list-view",
        data () {
            return {
                donors: [],
                headers: [
                    {text: 'Full name', value: 'name'},
                    {text: 'Age', value: 'age'},
                    {text: 'Blood type', value: 'bloodtype'},
                    {text: 'Contact number', value: 'contact'},
                    {text: 'Address', value: 'props.item.street'}
                ]
            }
        },
        created: async function () {
            await this.getDonors();
        },
        methods: {
            getDonors: async function (val = '') {
                this.donors = []
                let snap = {}
                if (val === '') {
                    snap = await db.collection('donors').get()
                } else {
                    snap = await db.collection('donors').where('bloodtype', '==', val).get()
                }

                if (snap.empty) {
                    return
                }
                snap.forEach(doc => {
                    const data = doc.data()
                    data.id = doc.id
                    this.donors.push(data)
                })
            }
        },
        computed: {
            ...mapGetters({
                bloodTypeFilter: 'getBloodTypeFilter'
            })
        },
        watch: {
            bloodTypeFilter: function (val) {
                this.getDonors(val)
            }
        }
    }
</script>
