<template lang="pug">
    v-card
        v-card-title
            h3 Filter
        v-divider
        v-card-text
            v-select(
            :items="bloodtypes"
            v-model="bloodtype"
            label="Bloodtype"
            )
        v-divider
        v-card-actions
            v-btn(color="primary" @click="filter") Filter
</template>

<script>
    import store from '../store'
    export default {
        name: "donor-list-filter",
        data() {
            return {
                bloodtype: '',
                bloodtypes: ['A-', 'A+', 'B-', 'B+', 'AB-', 'AB+', 'O-', 'O+']
            }
        },
        methods: {
            filter: function () {
                store.commit('filterBloodType', this.bloodtype)
            }
        }
    }
</script>

<style scoped>

</style>