<template lang="pug">
    v-card
        v-card-title
            h3 Login
        v-divider
        v-card-text
            v-alert(v-model="error" dismissible type="error") Username or password incorrect
            v-text-field(
            v-model="email"
            label="Email"
            )
            v-text-field(
            v-model="password"
            label="Password"
            type="password"
            )
        v-divider
        v-card-actions
            v-spacer
            v-btn(color="primary" @click="login") Login
</template>

<script>
    import {db} from '../main'
    import store from '../store'

    export default {
        name: "login-view",
        data() {
            return {
                email: '',
                password: '',
                error: false
            }
        },
        methods: {
            login: async function () {
                const snapshot = await db.collection('admins')
                    .where('username', '==', this.email)
                    .where('password', '==', this.password)
                    .get()
                if (snapshot.empty) {
                    this.error = true
                } else {
                    store.commit('login', snapshot.docs[0].id)
                    this.$router.push('/profiler/profiling-donor')
                }
            }
        }
    }
</script>

<style scoped>

</style>