<template lang="pug">
    v-card
        v-card-title
            h3 Donor's Information
        v-divider
        v-card-text
            v-alert(v-model='error' dismissible type="error") Something went wrong. Please check your internet connection
            v-form(ref='form')
                v-container
                    v-layout(row wrap)
                        v-flex(xs3)
                            v-text-field(
                            label="Full name"
                            v-model="input.name"
                            )
                        v-flex(xs3)
                            v-text-field(
                            label="Age"
                            v-model="input.age"
                            type="number"
                            min="1"
                            )
                        v-flex(xs3)
                            v-select(
                            label="Gender"
                            :items="genders"
                            v-model="input.gender"
                            )
                        v-flex(xs3)
                            v-text-field(
                            label="Birthdate"
                            v-model="input.birthdate"
                            )
                        v-flex(xs4)
                            v-text-field(
                            label="Street"
                            v-model="input.street"
                            )
                        v-flex(xs4)
                            v-text-field(
                            label="Barangay"
                            v-model="input.barangay"
                            )
                        v-flex(xs4)
                            v-text-field(
                            label="Municipality"
                            v-model="input.municipality"
                            )
                        v-flex(xs6)
                            v-text-field(
                            label="Contact Number"
                            v-model="input.contact"
                            )
                        v-flex(xs6)
                            v-text-field(
                            label="Serial Number"
                            v-model="input.serialNumber"
                            )
                        v-flex(xs6)
                            v-select(
                            label="Bloodtype"
                            :items="bloodtypes"
                            v-model="input.bloodtype"
                            )
                        v-flex(xs6)
                            v-text-field(
                            label="Donation Type"
                            v-model="input.donationType"
                            )
                        v-flex(xs6)
                            v-text-field(
                            label="Hospital Donations"
                            v-model="input.hospitalDonations"
                            )
                        v-flex(xs6)
                            v-text-field(
                            label="RC Donations"
                            v-model="input.rcDonations"
                            )
        v-divider
        v-card-actions
            v-spacer
            v-btn(color="primary" @click="save" :disabled="loading") Save
</template>

<script>
    import {db} from "../main";

    export default {
        name: "profile-donor-card",
        data() {
            return {
                loading: false,
                error: false,
                success: false,
                bloodtypes: ['A-', 'A+', 'B-', 'B+', 'AB-', 'AB+', 'O-', 'O+'],
                genders: ['Male', 'Female'],
                input: {
                    name: '',
                    age: '',
                    barangay: '',
                    birthdate: '',
                    bloodtype: '',
                    contact: '',
                    dateDonated: '',
                    donationType: '',
                    gender: '',
                    hospitalDonations: '',
                    municipality: '',
                    rcDonations: '',
                    serialNumber: '',
                    street: ''
                }
            }
        },
        methods: {
            save: async function () {
                this.success = false
                this.error = false
                this.loading = true
                try {
                    db.collection('donors').add(this.input)
                    this.$refs.form.reset()
                    this.success = true
                } catch (e) {
                    this.error = true
                }
                this.loading = false
            }
        }
    }
</script>

<style scoped>

</style>