<template lang="pug">
    v-container(grid-list-md)
        v-layout(row wrap)
            v-flex(xs3)
                donor-list-filter
            v-flex(xs9)
                donor-list-view
</template>

<script>
    import DonorListFilter from "../views/donor-list-filter";
    import DonorListView from "../views/donor-list-view";

    export default {
        name: "donor-list-page",
        components: {DonorListView, DonorListFilter}
    }
</script>

<style scoped>

</style>