<template lang="pug">
    v-container
        v-layout
            v-flex(offset-md4 md4)
                login-view
</template>

<script>
    import LoginView from "../views/login-view";

    export default {
        name: "login-page",
        components: {LoginView}
    }
</script>
