<template lang="pug">
    div
        v-toolbar(color="primary" dark)
            v-toolbar-side-icon(@click="nav = true")
            v-toolbar-title Donor Profiling System
        v-navigation-drawer(absolute temporary v-model="nav")
            v-list-tile(to="profiling-donor")
                v-list-tile-action
                    v-icon(color="primary") assignment_ind
                v-list-tile-content
                    v-list-tile-title Donor profiling
            v-list-tile(to="donor-list")
                v-list-tile-action
                    v-icon(color="primary") list
                v-list-tile-content
                    v-list-tile-title Donors list
            v-list-tile(@click="logout")
                v-list-tile-action
                    v-icon(color="error") input
                v-list-tile-content
                    v-list-tile-title Logout
        router-view

</template>

<script>
    import store from '../store'

    export default {
        name: "profiler-page",
        data() {
            return {
                nav: false
            }
        },
        methods: {
            logout: function () {
                store.commit('logout')
                this.$router.push('/')
            }
        }
    }
</script>

<style scoped>

</style>