<template lang="pug">
    v-container
        v-layout
            v-flex
                profile-donor-card
</template>

<script>
    import ProfileDonorCard from "../views/profile-donor-view";

    export default {
        name: "profiling-donor-page",
        components: {ProfileDonorCard}
    }
</script>

<style scoped>

</style>